.song {
  margin: 20px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  border-radius: 10px;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .song-btn {
    margin-right: 50px;

    button {
      width: 100px;
      font-size: 20px;
      padding: 10px;
      border-radius: 10px;
      background-color: rgb(127, 21, 248);
      color: #fff;
      transition: all 0.5s;
    }

    button:hover {
      cursor: pointer;
      background-color: rgb(95, 16, 185);
    }

    button:focus {
      outline: none;
    }
  }
}
